call_center:
  outputs:
    dev:
      type: duckdb
      path: '/path/to/analytics-engineering-modern-stack/data/warehouse/warehouse_dev.duckdb'
      attach:
        - path: '/path/to/analytics-engineering-modern-stack/data/warehouse/ingest_calls.duckdb'
          alias: ingest_calls
          read_only: true
        - path: '/path/to/analytics-engineering-modern-stack/data/warehouse/ingest_crm.duckdb'
          alias: ingest_crm
          read_only: true
        - path: '/path/to/analytics-engineering-modern-stack/data/warehouse/ingest_surveys.duckdb'
          alias: ingest_surveys
          read_only: true
      threads: 1

    prod:
      type: duckdb
      path: 'path/to/analytics-engineering-modern-stack/data/warehouse_prod.duckdb'
      threads: 4

  target: dev